img.six36nov {height: 196px;width: 44px;background: url(labels_ver.png) -12px -324px;}
img.pro36nov {height: 204px;width: 44px;background: url(labels_ver.png) -76px -316px;}
img.uff36nov {height: 140px;width: 44px;background: url(labels_ver.png) -144px -379px;}

img.six24nov {height: 118px;width: 28px;background: url(all_labels_ver.png) -10px -481px;}
img.naz24nov {height: 148px;width: 28px;background: url(all_labels_ver.png) -100px -453px;}
img.reg24nov {height: 148px;width: 34px;background: url(all_labels_ver.png) -190px -453px;}
img.pro24nov {height: 134px;width: 28px;background: url(all_labels_ver.png) -280px -465px;}
img.uff24nov {height: 94px;width: 28px;background: url(all_labels_ver.png) -370px -505px;}

img.six_a24nov {height: 118px;width: 28px;background: url(all_labels_ver.png) -10px -481px;}
img.naz_a24nov {height: 148px;width: 28px;background: url(all_labels_ver.png) -100px -453px;}
img.reg_a24nov {height: 148px;width: 34px;background: url(all_labels_ver.png) -190px -453px;}
img.pro_a24nov {height: 134px;width: 28px;background: url(all_labels_ver.png) -280px -465px;}
img.uff_a24nov {height: 94px;width: 28px;background: url(all_labels_ver.png) -370px -505px;}

img.six_c24nov {height: 118px;width: 28px;background: url(all_labels_ver.png) -10px -481px;}
img.naz_c24nov {height: 148px;width: 28px;background: url(all_labels_ver.png) -100px -453px;}
img.reg_c24nov {height: 148px;width: 34px;background: url(all_labels_ver.png) -190px -453px;}
img.pro_c24nov {height: 134px;width: 28px;background: url(all_labels_ver.png) -280px -465px;}
img.uff_c24nov {height: 94px;width: 28px;background: url(all_labels_ver.png) -370px -505px;}

img.six_s24nov {height: 118px;width: 28px;background: url(all_labels_ver.png) -10px -481px;}
img.naz_s24nov {height: 148px;width: 28px;background: url(all_labels_ver.png) -100px -453px;}
img.reg_s24nov {height: 148px;width: 34px;background: url(all_labels_ver.png) -190px -453px;}
img.pro_s24nov {height: 134px;width: 28px;background: url(all_labels_ver.png) -280px -465px;}
img.uff_s24nov {height: 94px;width: 28px;background: url(all_labels_ver.png) -370px -505px;}

/*img.preferiti {height:24px;width:24px;background:url(c24/star.png) 0px 0px;}*/
/*img.attachment {height:16px;width:16px;background:url(c16/attachment.png) 0px 0px;}*/
img.noattachment {height:16px;width:16px;background:url(t.gif) 0px 0px;}
/* ---- Icone Generiche ----*/
img.address_book {height:24px;width:24px;background:url(c24/address_book.png) 0px 24px;}
img.right_arrow {height:24px;width:24px;background:url(c24/right_arrow.png) 0px 24px;}
img.tag {height:24px;width:24px;background:url(c24/tag.png) 0px 24px;}
/* ---- Icone per Paghe ----*/
img.address_book_paghe {height:48px;width:48px;background:url(c48/address_book.png) -240px 48px;}
img.h_address_book_paghe {height:24px;width:24px;background:url(c24/address_book.png) -120px 24px;}
img.alarm_paghe {height:48px;width:48px;background:url(c48/alarm.png) -240px 48px;}
img.attachment_paghe {height:48px;width:48px;background:url(c48/attachment.png) -240px 48px;}
img.bar_chart_paghe {height:48px;width:48px;background:url(c48/bar_chart.png) -240px 48px;}
img.briefcase_paghe {height:48px;width:48px;background:url(c48/briefcase.png) -240px 48px;}
img.brush_paghe {height:48px;width:48px;background:url(c48/brush.png) -240px 48px;}
img.calculator_paghe {height:48px;width:48px;background:url(c48/calculator.png) -240px 48px;}
img.calendar_paghe {height:48px;width:48px;background:url(c48/calendar.png) -240px 48px;}
img.check_mark_paghe {height:48px;width:48px;background:url(c48/check_mark.png) -240px 48px;}
img.clock_paghe {height:48px;width:48px;background:url(c48/clock.png) -240px 48px;}
img.close_paghe {height:48px;width:48px;background:url(c48/close.png) -240px 48px;}
img.cloudy_paghe {height:48px;width:48px;background:url(c48/cloudy.png) -240px 48px;}
img.cloudy_sunny_paghe {height:48px;width:48px;background:url(c48/cloudy_sunny.png) -240px 48px;}
img.comment_bubble_paghe {height:48px;width:48px;background:url(c48/comment_bubble.png) -240px 48px;}
img.danger_sign_paghe {height:48px;width:48px;background:url(c48/danger_sign.png) -240px 48px;}
img.database_paghe {height:48px;width:48px;background:url(c48/database.png) -240px 48px;}
img.digital_camera_paghe {height:48px;width:48px;background:url(c48/digital_camera.png) -240px 48px;}
img.disc_paghe {height:48px;width:48px;background:url(c48/disc.png) -240px 48px;}
img.down_arrow_paghe {height:48px;width:48px;background:url(c48/down_arrow.png) -240px 48px;}
img.eject_paghe {height:48px;width:48px;background:url(c48/eject.png) -240px 48px;}
img.envelope_paghe {height:48px;width:48px;background:url(c48/envelope.png) -240px 48px;}
img.envelope_open_paghe {height:48px;width:48px;background:url(c48/envelope_open.png) -240px 48px;}
img.exclamanation_mark_paghe {height:48px;width:48px;background:url(c48/exclamanation_mark.png) -240px 48px;}
img.fast_forward_paghe {height:48px;width:48px;background:url(c48/fast_forward.png) -240px 48px;}
img.flag_paghe {height:48px;width:48px;background:url(c48/flag.png) -240px 48px;}
img.folder_paghe {height:48px;width:48px;background:url(c48/folder.png) -240px 48px;}
img.forbidden_sign_paghe {height:48px;width:48px;background:url(c48/forbidden_sign.png) -240px 48px;}
img.heart_paghe {height:48px;width:48px;background:url(c48/heart.png) -240px 48px;}
img.house_paghe {height:48px;width:48px;background:url(c48/house.png) -240px 48px;}
img.info_paghe {height:48px;width:48px;background:url(c48/info.png) -240px 48px;}
img.ipad_paghe {height:48px;width:48px;background:url(c48/ipad.png) -240px 48px;}
img.iphone_paghe {height:48px;width:48px;background:url(c48/iphone.png) -240px 48px;}
img.joystick_paghe {height:48px;width:48px;background:url(c48/joystick.png) -240px 48px;}
img.left_arrow_paghe {height:48px;width:48px;background:url(c48/left_arrow.png) -240px 48px;}
img.lightbulb_paghe {height:48px;width:48px;background:url(c48/lightbulb.png) -240px 48px;}
img.magnifier_paghe {height:48px;width:48px;background:url(c48/magnifier.png) -240px 48px;}
img.minus_paghe {height:48px;width:48px;background:url(c48/minus.png) -240px 48px;}
img.monitor_paghe {height:48px;width:48px;background:url(c48/monitor.png) -240px 48px;}
img.mouse_paghe {height:48px;width:48px;background:url(c48/mouse.png) -240px 48px;}
img.movie_paghe {height:48px;width:48px;background:url(c48/movie.png) -240px 48px;}
img.news_paghe {height:48px;width:48px;background:url(c48/news.png) -240px 48px;}
img.padlock_paghe {height:48px;width:48px;background:url(c48/padlock.png) -240px 48px;}
img.padlock_open_paghe {height:48px;width:48px;background:url(c48/padlock_open.png) -240px 48px;}
img.page_paghe {height:48px;width:48px;background:url(c48/page.png) -240px 48px;}
img.pause_paghe {height:48px;width:48px;background:url(c48/pause.png) -240px 48px;}
img.pencil_paghe {height:48px;width:48px;background:url(c48/pencil.png) -240px 48px;}
img.phone_paghe {height:48px;width:48px;background:url(c48/phone.png) -240px 48px;}
img.phone_book_paghe {height:48px;width:48px;background:url(c48/phone_book.png) -240px 48px;}
img.phone_ringing_paghe {height:48px;width:48px;background:url(c48/phone_ringing.png) -240px 48px;}
img.photo_paghe {height:48px;width:48px;background:url(c48/photo.png) -240px 48px;}
img.pie_chart_paghe {height:48px;width:48px;background:url(c48/pie_chart.png) -240px 48px;}
img.placemark_paghe {height:48px;width:48px;background:url(c48/placemark.png) -240px 48px;}
img.play_paghe {height:48px;width:48px;background:url(c48/play.png) -240px 48px;}
img.plus_paghe {height:48px;width:48px;background:url(c48/plus.png) -240px 48px;}
img.printer_paghe {height:48px;width:48px;background:url(c48/printer.png) -240px 48px;}
img.question_mark_paghe {height:48px;width:48px;background:url(c48/question_mark.png) -240px 48px;}
img.rainy_paghe {height:48px;width:48px;background:url(c48/rainy.png) -240px 48px;}
img.record_paghe {height:48px;width:48px;background:url(c48/record.png) -240px 48px;}
img.recycle_bin_paghe {height:48px;width:48px;background:url(c48/recycle_bin.png) -240px 48px;}
img.refresh_paghe {height:48px;width:48px;background:url(c48/refresh.png) -240px 48px;}
img.resume_paghe {height:48px;width:48px;background:url(c48/resume.png) -240px 48px;}
img.rewind_paghe {height:48px;width:48px;background:url(c48/rewind.png) -240px 48px;}
img.right_arrow_paghe {height:48px;width:48px;background:url(c48/right_arrow.png) -240px 48px;}
img.rss_paghe {height:48px;width:48px;background:url(c48/rss.png) -240px 48px;}
img.shopping_cart_paghe {height:48px;width:48px;background:url(c48/shopping_cart.png) -240px 48px;}
img.skip_backward_paghe {height:48px;width:48px;background:url(c48/skip_backward.png) -240px 48px;}
img.skip_forward_paghe {height:48px;width:48px;background:url(c48/skip_forward.png) -240px 48px;}
img.smart_phone_paghe {height:48px;width:48px;background:url(c48/smart_phone.png) -240px 48px;}
img.sound_paghe {height:48px;width:48px;background:url(c48/sound.png) -240px 48px;}
img.star_paghe {height:48px;width:48px;background:url(c48/star.png) -240px 48px;}
img.stop_paghe {height:48px;width:48px;background:url(c48/stop.png) -240px 48px;}
img.sunny_paghe {height:48px;width:48px;background:url(c48/sunny.png) -240px 48px;}
img.support_paghe {height:48px;width:48px;background:url(c48/support.png) -240px 48px;}
img.tag_paghe {height:48px;width:48px;background:url(c48/tag.png) -240px 48px;}
img.tv_paghe {height:48px;width:48px;background:url(c48/tv.png) -240px 48px;}
img.umbrella_paghe {height:48px;width:48px;background:url(c48/umbrella.png) -240px 48px;}
img.up_arrow_paghe {height:48px;width:48px;background:url(c48/up_arrow.png) -240px 48px;}
img.user_paghe {height:48px;width:48px;background:url(c48/user.png) -240px 48px;}
img.video_paghe {height:48px;width:48px;background:url(c48/video.png) -240px 48px;}
img.webcam_paghe {height:48px;width:48px;background:url(c48/webcam.png) -240px 48px;}
