<h1>angular-001</h1>
<h2>This is the Live Tiles VIEW</h2>

    <section class="ctanav">
        <div class="content">
            <div class="row">
                <ol>
                    <li class="cta-livetile" >
                        <a href="//go.microsoft.com/fwlink/p/?LinkId=311912">
                            <div class="livetile">
                                <div class="lt-top">
                                    <div class="cta-icon"><div class="l0-spr cta download"></div></div>
                                    <div class="cta-text"><p>Download tools</p></div>
                                </div>
                                <div class="lt-bottom">
                                    <p>Get the tools to help you start developing Store apps.</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="cta-livetile" >
                        <a href="//go.microsoft.com/fwlink/p/?LinkId=311914">
                            <div class="livetile">
                                <div class="lt-top">
                                    <div class="cta-icon"><div class="l0-spr cta code"></div></div>
                                    <div class="cta-text"><p>Get code samples</p></div>
                                </div>
                                <div class="lt-bottom">
                                    <p>Fast track your code development with code samples.</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="cta-livetile">
                        <a href="//go.microsoft.com/fwlink/p/?LinkId=507629">
                            <div class="livetile">
                                <div class="lt-top">
                                    <div class="cta-icon"><div class="l0-spr cta appstudio"></div></div>
                                    <div class="cta-text"><p>Try Windows App Studio</p></div>
                                </div>
                                <div class="lt-bottom">
                                    <p>Build a universal Windows app. No coding required.</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="cta-livetile" >
                        <a href="//go.microsoft.com/fwlink/p/?LinkId=311915">
                            <div class="livetile">
                                <div class="lt-top">
                                    <div class="cta-icon"><div class="l0-spr cta submit"></div></div>
                                    <div class="cta-text"><p>Submit apps</p></div>
                                </div>
                                <div class="lt-bottom">
                                    <p>Make your app available in the Store.</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="cta-livetile" >
                        <a target="_blank" href="//go.microsoft.com/fwlink/p/?LinkId=311916">
                            <div class="livetile">
                                <div class="lt-top">
                                    <div class="cta-icon"><div class="l0-spr cta app"></div></div>
                                    <div class="cta-text"><p>Get Dev Center <br/>app</p></div>
                                </div>
                                <div class="lt-bottom">
                                    <p>See how your Windows Phone app is doing in the real world.</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="cta-livetile">
                        <a href="//go.microsoft.com/fwlink/p/?LinkId=330426">
                            <div class="livetile">
                                <div class="lt-top">
                                    <div class="cta-icon"><div class="l0-spr cta preview"></div></div>
                                    <div class="cta-text"><p>Preview the OS</p></div>
                                </div>
                                <div class="lt-bottom">
                                    <p>Help your app use the new Windows Phone features.</p>
                                </div>
                            </div>
                        </a>
                    </li>              
                </ol>
            </div>
        </div>
    </section>

